body {
  text-align: center;
  margin-top: 30px;
  font-family: sans-serif;
  background-color: #fcf4f8;
  color: #add0ef;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 40px;
}

form .header {
  width: 100%;
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  color: #add0ef;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}

.button {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: sans-serif;
  margin-bottom: 10px;
  background-color: #ffe3e1;
  color: #ffb3c9;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  transition: 0.3s;
}

.button:hover {
  background-color: #add0ef;
  color: #ffe3e1;
  border: 2px solid #add0ef;
}

input[type="date"] {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: sans-serif;
  margin-bottom: 10px;
  background-color: #ffe3e1;
  color: #ff97cc;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
}
