body {
  text-align: center;
  margin-top: 30px;
  font-family: sans-serif;
  background-color: #fcf4f8;
  color: #add0ef;
}

img {
  height: 400px;
  width: auto;
  padding: 10px;
}

#valentineQuestion {
  font-size: 50px;
  margin-bottom: 10px;
}
.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: sans-serif;
  margin-bottom: 20px;
  background-color: #ffe3e1;
  color: #ffb3c9;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  box-shadow: 1px 1px 2px #add0ef;
  transition: 0.3s;
}

.answerButton:hover {
  background-color: #add0ef;
  color: #ffe3e1;
  border: 2px solid #add0ef;
  box-shadow: 1px 1px 2px #ffe3e1;
}
